<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.mmeggs.macrodeck.lca.LCApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="LCA"
            class="de.mmeggs.macrodeck.lca.ui.Perspective"
            id="de.mmeggs.macrodeck.lca.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="de.mmeggs.macrodeck.lca.ui.View"
            id="de.mmeggs.macrodeck.lca.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="de.mmeggs.macrodeck.lca.ui.NavigationView"
            id="de.mmeggs.macrodeck.lca.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="de.mmeggs.macrodeck.lca.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="de.mmeggs.macrodeck.lca.category"
            id="de.mmeggs.macrodeck.lca.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="de.mmeggs.macrodeck.lca.category"
            id="de.mmeggs.macrodeck.lca.openMessage">
      </command>
      <category
            description="%category.update.description"
            id="de.mmeggs.macrodeck.lca.update"
            name="%category.update.name"/>
      <command
            categoryId="de.mmeggs.macrodeck.lca.update"
            description="%command.manageConfiguration.description"
            id="de.mmeggs.macrodeck.lca.update.manageConfiguration"
            name="%command.manageConfiguration.name"/>
      <command
            categoryId="de.mmeggs.macrodeck.lca.update"
            description="%command.findAndInstallUpdates.description"
            id="de.mmeggs.macrodeck.lca..update.findAndInstallUpdates"
            name="%command.findAndInstallUpdates.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.mmeggs.macrodeck.lca.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="de.mmeggs.macrodeck.lca.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="lca.macrodeck"
         point="org.eclipse.core.runtime.products">
      <product
            application="lca.application"
            name="Macrodeck LCA">
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="icons/small-logo.gif">
         </property>
      </product>
   </extension>
   
   <extension point="org.eclipse.ui.helpSupport">
      <config class="org.eclipse.help.ui.internal.DefaultHelpUI">
      </config>
   </extension>
   
   <extension point="org.eclipse.help.toc">
      <toc file="help/toc.xml">
      </toc>
      <toc file="help/testToc.xml"
            primary="true">
      </toc>
   </extension>
   
   <extension point="org.eclipse.ui.intro.configExtension" id="lca.intro">
      <configExtension
            content="help/intro/sample.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         id="macrodeck"
         point="org.eclipse.core.runtime.products">
      <product
            application="lca.application"
            name="Macrodeck LCA">
         <property
               name="aboutText"
               value="This is the macrodeck client application Version %version%."/>
         <property
               name="aboutImage"
               value="/Macrodeck_LCA/icons/small-logo.gif"/>
      </product>
   </extension>
</plugin>
