<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	
	<extension-point 
		id="de.mmeggs.macrodeck.lca.sync" 
		name="de.mmeggs.macrodeck.lca.sync" 
		schema="schema/de.mmeggs.macrodeck.lca.sync.exsd"/>


   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="sync"
            visible="true"
            id="de.mmeggs.macrodeck.sync.actionSet">
         <menu label="Synchronize"
               id="syncMenu">
            <separator name="syncGroup"/>
         </menu>
         <action
               accelerator="CTRL+F5"
               class="de.mmeggs.macrodeck.lca.actions.SyncAllAction"
               icon="icons/sync.gif"
               id="de.mmeggs.macrodeck.lca.actions.SyncAllAction"
               label="Synchronize &amp;All"
               menubarPath="syncMenu/syncGroup"
               toolbarPath="syncGroup"
               tooltip="Synchronize all configured data">
         </action>
      </actionSet>
   </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="de.mmeggs.macrodeck.lca.LCApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Sync Plugin Settings"
            class="de.mmeggs.macrodeck.lca.ui.Perspective"
            id="de.mmeggs.macrodeck.lca.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="SyncPluginsConfigView"
            allowMultiple="false"
            icon="icons/sync.gif"
            class="de.mmeggs.macrodeck.lca.ui.MainView"
            id="de.mmeggs.macrodeck.lca.navigationView">
      </view>
      <view
            name="SyncPluginsConfigView"
            allowMultiple="false"
            icon="icons/sync.gif"
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="de.mmeggs.macrodeck.lca.standby">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
      <key
            commandId="de.mmeggs.macrodeck.lca.actions.SyncAllAction.command"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+F5"/>
   </extension>
   <extension
         id="sync-base"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.mmeggs.macrodeck.lca.application"
            name="Macrodeck Synchronization Client">
		  <property name="windowImages" value="icons/sync.gif"/>
          <property name="aboutImage" value="icons/small-logo.gif"/> 
          <property
                name="aboutText"
                value="This is the macrodeck client application&#x0A;Version 0.0.1&#x0A;For more information visit http://www.macrodeck.com&#x0A;(C) 2006, Manfred Mayer"/> 
          <property name="appName" value="%appName"/>
          <property
                name="startupForegroundColor"
                value="000000"/>
          <property
                name="startupMessageRect"
                value="0,220,628,239"/>
          <property
                name="startupProgressRect"
                value="0,240,628,265"/> 
      </product>
   </extension>
   
   <!-- help extension removed temporarily - replaced by simple link to web
   <extension point="org.eclipse.ui.helpSupport">
      <config class="org.eclipse.help.ui.internal.DefaultHelpUI">
      </config>
   </extension>
   
   <extension point="org.eclipse.help.toc">
      <toc file="help/toc.xml">
      </toc>
      <toc file="help/testToc.xml"
            primary="true">
      </toc>
   </extension>
   -->
   <extension point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.eclipse.platform.intro"
            icon="icons/welcome.gif">
      </intro>
      <introProductBinding
            introId="org.eclipse.platform.intro"
            productId="de.mmeggs.macrodeck.lca.sync-base">
      </introProductBinding>
   </extension>
   <extension id="intro" point="org.eclipse.ui.intro.config">
      <config
            introId="org.eclipse.platform.intro"
            id="org.eclipse.platform.introConfig"
            content="$nl$/intro/introContent.xml">
         <presentation home-page-id="root" 
         			   standby-page-id="de.mmeggs.macrodeck.lca.standby">
            <implementation
                  style="$nl$/intro/css/shared.css"
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
            <implementation
                  kind="swt">
            </implementation>
            <!--
            fg="#7269d2" 
            -->
            <launchBar 	
            	location="fastview" 
            	bg="#c6c3e8" 
            	>
               <shortcut
                     icon="intro/css/graphics/icons/etool/overview.gif"
                     tooltip="%shortcut.overview.tooltip"
                     url="http://www.macrodeck.com"/>
               <shortcut
                     tooltip="%shortcut.whatsnew.tooltip"
                     icon="intro/css/graphics/icons/etool/whatsnew.gif"
                     url="http://org.eclipse.ui.intro/runAction?class=de.mmeggs.macrodeck.lca.actions.InstallUpdateWizardAction&amp;pluginId=de.mmeggs.macrodeck.lca"/>                                             
               <shortcut
                     tooltip="%shortcut.tutorials.tooltip"
                     icon="intro/css/graphics/icons/etool/tutorials.gif"
                     url="http://org.eclipse.ui.intro/runAction?class=de.mmeggs.macrodeck.lca.actions.SettingsDialogAction&amp;pluginId=de.mmeggs.macrodeck.lca"/>
            </launchBar>
         </presentation>
      </config>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="de.mmeggs.macrodeck.lca.application"
            name="Macrodeck LCA">
         <property
               name="aboutText"
               value="This is the macrodeck client application Version %version%."/>
         <property
               name="aboutImage"
               value="icons/small-logo.gif"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.mmeggs.macrodeck.lca.ui.settings.UserSettingsPage"
            id="de.mmeggs.macrodeck.lca.preferences.UserSettingsPage"
            name="User Settings"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.mmeggs.macrodeck.lca.ui.settings.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Starts synchronization actions in all installed plugins"
            id="de.mmeggs.macrodeck.lca.actions.SyncAllAction.command"
            name="de.mmeggs.macrodeck.lca.actions.SyncAllAction.command"/>
   </extension>
</plugin>
