<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         name="Internet Explorer"
         point="com.macrodeck.lca.sync">
      <category
            id="com.macrodeck.plugins.browsers"
            label="Browser"/>
      <settingsPage
            class="com.macrodeck.plugins.browsers.ie.PreferencePage"
            description="Synchronize your Internet Explorer bookmarks"/>
      <syncAction class="com.macrodeck.plugins.browsers.ie.actions.BrowserSyncAction"/>
   </extension>

</plugin>
